<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobcom.iacademy.thesis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utilities.BackendConnection"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.Interceptor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="Login" />
        <activity android:name=".controller.MainActivity" />
        <activity
            android:name=".login.RegisterActivity"
            android:label="Register" />
        <activity android:name=".routine.controller.NewTaskActivity" />
        <activity android:name=".routine.controller.EditTaskActivity" />
        <activity android:name=".group.controller.EditEventActivity" />
        <activity android:name=".event.controller.NewEventActivity" />
        <activity android:name=".event.controller.EditEventActivity" />
        <activity android:name=".group.controller.GroupInterfaceActivity" />
        <activity android:name=".group.controller.AddMemberActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".group.AddMemberActivity" />
        </activity>
        <activity android:name=".event.controller.ShareEventActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".event.main.ShareEventActivity" />
        </activity>
        <activity android:name=".group.controller.RemoveMemberActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".group.RemoveMemberActivity" />
        </activity>
        <activity android:name=".group.ShareGroupEventActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".group.RemoveMemberActivity" />
        </activity>
        <activity android:name=".group.NewGroupEvent" />
        <activity android:name=".event.controller.TestActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".routine.controller.TaskActivityFixed"></activity>
    </application>

</manifest>
